.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eee;
  padding: 20px;
}

.navbar .main-menu ul {
  display: flex;
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: aqua;
}

.navbar .main-menu ul li a {
  padding: 10px 20px;
  display: block;
  font-weight: 600;
  transition: 0.5s;
}

.navbar .main-menu ul li a:hover {
  color: #4d4dc7;
}
