* {
  padding: 0;
  margin: 0;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  color: #ffffff;
  padding: 1rem;
}

nav a {
  color: #333;
  text-decoration: none;
  margin: 0 1rem;
}

nav a.active {
  font-weight: bold;
}

.product-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
}
